<section class="section" style="padding-top:1.5rem">
  <div class="container" style="margin-top:0">
    <a class="button is-rounded is-primary" href="/team">
      <span class="icon" style="margin-right: 0.3rem">
        <i class="fas fa-angle-double-left"></i>
      </span>
      Back to team
    </a>
    <br></br>
    <br></br>
    <div class="columns">
      <div class="column is-5">
        <figure class="image is-4by3">
          <img src="/img/members/{{username}}.png" style="max-width:100%; object-fit: cover;" alt={{username}} />
        </figure>
      </div>
      <div class="column">
        <div class="content">
          <div class="card-content">
            <h1 style="font-weight:500; font-size:1.8rem">
              {{name}}
            </h1>
            <h4 style="font-size:1.2rem; font-style: italic">
              {{location}}
            </h4>
            <p>
              {{bio}}
            </p>
            <br>
            <nav class="level is-mobile">
              <div class="level-left">
                {{#if github}}
                  <a class="level-item" href="{{github}}">
                    <span class="icon"><i class="fab fa-github"></i></span>
                  </a>
                {{/if}}
                {{#if linkedin}}
                  <a class="level-item" href="{{linkedin}}">
                    <span class="icon"><i class="fab fa-linkedin"></i></span>
                  </a>
                {{/if}}
                {{#if website}}
                  <a class="level-item" href="{{website}}">
                    <span class="icon"><i class="fas fa-user"></i></span>
                  </a>
                {{/if}}
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
